*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    background-color: #bcbcbc;
}
.aside{
    width: 250px;
    background-color: #111;
    height: 100%;
    padding: 20px;
    margin: 0px;
    color: #eee;
    position: fixed;
    z-index: 1;
}
.aside ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #eee;
}
a:hover{
    color: rgb(240, 200, 152);
}
li{ 
    padding: 5px;
    align-items: center;
}
.company{
    padding: 0px 10px 10px 10px;
}
.content{
    margin-left: 250px;
    padding-left: 50px;
    padding-top: 10px;
    flex-wrap: wrap;
    display: flex;
}
.contentBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{    
    border: 2px solid #111;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width: 25%;
    min-height: 100px;
    padding: 10px;
    margin: 10px;
}
.cardHead{
    padding: 5px;
    font-size: 30px;
}
.cardBody img{
    width: 90%;
    border-radius: 20px;
    border: 1px solid #222;
    overflow: hidden;
}
.cardFooter{
    padding: 10px;
}